* {
    background-color: black;
}

.container {
    width: 100vw;
    height: 100vh;

    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 20px;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr 1fr 100px;

    gap: 20px;

    padding: 10px;
    box-sizing: border-box;
}

body {
    color: white;
}


.body-index {
    background-color: black;
    color: white;

    border: 5px dashed white;

    padding-top: 290px;
    padding-right: 0px;
    padding-bottom: 295px;
    padding-left: 0px;
}

.container div {
    padding: 20px;
    /*border: 1px solid white;*/
}

.header {
    grid-column-start: 1;
    grid-column-end: 4;

    text-align: center;
    color: rgb(17, 245, 17);

    font-size: 36px;
    margin-top: 0px;
}
.project-content {
    grid-row-start: 2;
    grid-row-end: 3;

    text-align: center;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;

    border: 2px solid rgb(17, 245, 17)
}

.project-content-small {
    grid-row-start: 2;
    grid-row-end: 3;

    text-align: center;

    display: block;
    margin-left: auto;
    margin-right: auto;

}

.footer{
    text-align: center;

    grid-column-start: 1;
    grid-column-end: 4;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.blank {
    width: 0;
    height: 0;
}

.about-me-text {
    grid-column-start: 1;
    grid-column-end: 4;

    grid-row-start: 3;
    grid-row-end: 4;

    border: 5px solid white;

    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
    text-align: center;
    font-size: auto;
}

.contact-header {
    text-align: center;
    font-size: 36px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

.contact-footer {
    text-align: center;
    
}

.dice-size {
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 50%;
}

.road-trip-img {
    display: block;
    margin-left: auto;
    margin-right: auto;

    height: 45%;
    width: 80%;;
}

.index-proj-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;

    height: 50%;
    width: 85%;
}

.contact-me-icons {
    height: 100px;
    width: 100px;

    margin-bottom: 100px;
}

.rodent-img {
    height: 350px;
    width: 300px;
}

.dog-img {
    height: 60%;
    width: 75%;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
